body {
  font-family: adobe-fan-heiti-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  overflow-x: hidden;
  letter-spacing: 1px;
}

body nav.syt-nav {
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #FFFFFF;
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid {
    padding: 0px;
  }
}

body nav.syt-nav .container-fluid .navbar-brand {
  width: 280px;
}

@media (max-width: 1549px) {
  body nav.syt-nav .container-fluid .navbar-brand {
    width: 250px;
  }
}

@media (max-width: 1299px) {
  body nav.syt-nav .container-fluid .navbar-brand {
    width: 230px;
  }
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid .navbar-brand {
    width: 200px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  body nav.syt-nav .container-fluid .navbar-brand {
    width: 150px;
  }
}

body nav.syt-nav .container-fluid .navbar-brand img {
  width: 100%;
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid .navbar-brand .nav-icon-change {
    display: none;
  }
}

body nav.syt-nav .container-fluid .navbar-toggler {
  outline: #223e72 2px solid;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid .navbar-toggler {
    margin-right: 12px;
  }
}

body nav.syt-nav .container-fluid .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body nav.syt-nav .container-fluid .navbar-collapse {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body nav.syt-nav .container-fluid ul li .nav-link {
  font-size: 16px;
  color: #000000;
  padding: 10px 20px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid ul li .nav-link {
    padding: 15px 10px;
    text-align: center;
  }
}

body nav.syt-nav .container-fluid ul li .nav-link img {
  width: 40px;
}

@media (max-width: 1299px) {
  body nav.syt-nav .container-fluid ul li .nav-link img {
    width: 30px;
  }
}

body nav.syt-nav .container-fluid ul li .nav-link:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #195ad3;
}

body nav.syt-nav .container-fluid ul li .nav-link.active {
  color: #FBD914;
}

body nav.syt-nav .container-fluid ul li .nav-btn {
  background-color: #ffd30f;
  color: #000000;
  border-radius: 30px;
  padding: 5px 20px 3px;
  margin-top: 5px;
  font-size: 18px;
}

body nav.syt-nav .container-fluid ul li .nav-btn:hover {
  color: #ffd30f;
  background-color: #000000;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media (max-width: 1199px) {
  body nav.syt-nav .container-fluid ul li .nav-btn {
    padding: 5px 10px;
  }
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid ul li .nav-btn {
    margin: 0px auto 20px;
    display: table;
  }
}

body nav.syt-nav .container-fluid ul .item-margin {
  margin-right: 30px;
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid ul .item-margin {
    margin-right: 0px;
  }
}

body nav.syt-nav .container-fluid ul .item-margin-btn {
  margin-right: 20px;
}

@media (max-width: 1199px) {
  body nav.syt-nav .container-fluid ul .item-margin-btn {
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid ul .item-margin-btn {
    margin: 0px;
  }
}

body main.syt-main .syt-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/banner-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner {
    height: 100vh;
  }
}

body main.syt-main .syt-banner .syt-text {
  position: absolute;
  top: 20%;
  left: 200px;
  letter-spacing: 5px;
}

@media (max-width: 1299px) {
  body main.syt-main .syt-banner .syt-text {
    left: 100px;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner .syt-text {
    text-align: center;
    top: 30%;
    left: calc(50% - 170px);
  }
}

@media (max-width: 575px) {
  body main.syt-main .syt-banner .syt-text {
    left: calc(50% - 140px);
  }
}

body main.syt-main .syt-banner .syt-text button {
  width: 200px;
  height: 50px;
  background-color: #FBD914;
  color: #000000;
  font-size: 26px;
  letter-spacing: 1px;
  margin-top: 30px;
  border-radius: 10px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  white-space: nowrap;
}

@media (max-width: 1299px) {
  body main.syt-main .syt-banner .syt-text button {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner .syt-text button {
    padding-top: 0px;
    margin-top: 10px;
    width: 150px;
    height: 35px;
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  body main.syt-main .syt-banner .syt-text button {
    font-size: 18px;
  }
}

body main.syt-main .syt-banner .syt-text button:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

body main.syt-main .syt-banner .syt-text button img {
  width: 40px;
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner .syt-text button img {
    width: 30px;
  }
}

body main.syt-main .syt-banner .syt-text button .more-img-hover {
  display: none;
}

body main.syt-main .syt-banner .syt-text .syt-title {
  font-size: 76px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

@media (max-width: 1299px) {
  body main.syt-main .syt-banner .syt-text .syt-title {
    font-size: 60px;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner .syt-text .syt-title {
    font-size: 50px;
  }
}

@media (max-width: 575px) {
  body main.syt-main .syt-banner .syt-text .syt-title {
    font-size: 40px;
  }
}

@media (max-width: 399px) {
  body main.syt-main .syt-banner .syt-text .syt-title {
    font-size: 35px;
  }
}

body main.syt-main .syt-banner .syt-text .syt-content {
  font-size: 55px;
  color: #FBD914;
}

@media (max-width: 1299px) {
  body main.syt-main .syt-banner .syt-text .syt-content {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner .syt-text .syt-content {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  body main.syt-main .syt-banner .syt-text .syt-content {
    font-size: 20px;
  }
}

body main.syt-main .syt-banner #fade {
  position: absolute;
  font-size: 76px;
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
  top: 0px;
  left: 180px;
  color: #FBD914;
}

@media (max-width: 1299px) {
  body main.syt-main .syt-banner #fade {
    left: 140px;
    font-size: 60px;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner #fade {
    font-size: 50px;
    left: 135px;
  }
}

@media (max-width: 575px) {
  body main.syt-main .syt-banner #fade {
    font-size: 40px;
    top: 0px;
    left: calc(50% - 50px);
  }
}

@media (max-width: 399px) {
  body main.syt-main .syt-banner #fade {
    font-size: 35px;
  }
}

body main.syt-main .syt-banner .scroll-down {
  position: absolute;
  color: #202020;
  text-align: center;
  left: calc(50% - 85px);
  bottom: 30px;
  font-size: 24px;
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner .scroll-down {
    display: none;
  }
}

body main.syt-main .syt-banner .scroll-down i {
  display: block;
  -webkit-animation: arrow-animation 1s infinite linear;
          animation: arrow-animation 1s infinite linear;
}

body main.syt-main .syt-service {
  width: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
  color: #000;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  body main.syt-main .syt-service {
    height: auto;
  }
}

body main.syt-main .syt-service .service-container h2 {
  color: #006cae;
  padding-top: 100px;
  margin-bottom: 50px;
}

body main.syt-main .syt-service .service-container h3 {
  color: #FFFFFF;
  font-weight: 600;
}

body main.syt-main .syt-service .service-container p {
  font-size: 20px;
}

@media (max-width: 1436px) {
  body main.syt-main .syt-service .service-container p {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-service .service-container p {
    font-size: 16px;
  }
}

body main.syt-main .syt-service .service-container .card {
  position: relative;
  height: 60vh;
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear;
}

body main.syt-main .syt-service .service-container .card:hover .card-body {
  height: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding-top: 55%;
}

@media (max-width: 1299px) {
  body main.syt-main .syt-service .service-container .card:hover .card-body {
    padding-top: 90%;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-service .service-container .card:hover .card-body {
    height: auto;
    padding-top: 20px;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-service .service-container .card {
    height: 350px;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-service .service-container .card {
    margin-bottom: 30px;
  }
}

body main.syt-main .syt-service .service-container .card .card-body {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0px;
  text-align: left;
  background-color: #0000008e;
  padding: 20px;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 991px) {
  body main.syt-main .syt-service .service-container .card .card-body {
    height: auto;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
}

@media (max-width: 399px) {
  body main.syt-main .syt-service .service-container .card .card-body {
    padding: 10px;
  }
}

body main.syt-main .syt-service .service-container .card .card-body .card-text {
  height: 70px;
  color: #FFFFAC;
}

@media (max-width: 991px) {
  body main.syt-main .syt-service .service-container .card .card-body .card-text {
    height: auto;
  }
}

body main.syt-main .syt-service .service-container .card .card-body a {
  height: 50px;
  display: inline;
  bottom: 20px;
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #FFFFAC;
  color: #3b3b3b;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body main.syt-main .syt-service .service-container .card .card-body a:hover {
  background-color: #3b3b3b;
  color: #f4f884;
}

@media (max-width: 991px) {
  body main.syt-main .syt-service .service-container .card .card-body a {
    display: inline-block;
  }
}

body main.syt-main .syt-service .service-container #card-1 {
  background-image: url("../img/service1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%;
}

body main.syt-main .syt-service .service-container #card-2 {
  background-image: url("../img/service2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 35%;
}

body main.syt-main .syt-service .service-container #card-3 {
  background-image: url("../img/service3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 67.5%;
}

body main.syt-main .syt-service .service-container .card-border {
  border: none;
}

body main.syt-main .syt-service .service-container .hoverzoom:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: none !important;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) !important;
}

body main.syt-main .syt-service .service-container .hovershadow {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 4px;
}

body main.syt-main .syt-service .service-container .hoverzoom {
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear;
}

body main.syt-main .syt-adventage {
  height: auto;
}

body main.syt-main .syt-adventage h2 {
  padding-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

body main.syt-main .syt-adventage h2,
body main.syt-main .syt-adventage h3 {
  color: #006cae;
}

body main.syt-main .syt-adventage .container {
  max-width: 70%;
}

@media (max-width: 767px) {
  body main.syt-main .syt-adventage .container {
    max-width: 90%;
  }
}

body main.syt-main .syt-adventage .adventage-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 0px;
}

@media (max-width: 1199px) {
  body main.syt-main .syt-adventage .adventage-container {
    display: block;
  }
}

body main.syt-main .syt-adventage .adventage-container .adventage-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

@media (max-width: 1199px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-items {
    padding-right: 0px;
  }
}

body main.syt-main .syt-adventage .adventage-container .adventage-card {
  margin-bottom: 40px;
  text-align: center;
}

body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-img {
  width: 180px;
  height: 120px;
  max-height: 150px;
  margin: 0 auto 10px;
}

@media (max-width: 767px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-img {
    width: 75px;
    height: 50px;
  }
}

body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-img img {
  height: 100%;
}

body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-title {
  width: 220px;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #0c57c9;
  margin: 0px auto 10px;
  padding: 10px;
}

@media (max-width: 767px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-title {
    width: 180px;
    font-size: 20px;
    padding: 5px;
  }
}

@media (max-width: 575px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-title {
    width: 150px;
    font-size: 16px;
  }
}

@media (max-width: 399px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-title {
    width: 140px;
    font-size: 14px;
  }
}

body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-content {
  margin: auto;
  font-size: 20px;
  color: #0c57c9;
}

@media (max-width: 767px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-content {
    width: 200px;
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-content {
    width: 150px;
  }
}

@media (max-width: 399px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-content {
    width: 140px;
    font-size: 12px;
  }
}

body main.syt-main .syt-adventage .syt-contact-link {
  width: 100%;
  height: 200px;
  background-image: url("../img/contact-link-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
  font-size: 28px;
  position: relative;
  color: #FFFFFF;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  body main.syt-main .syt-adventage .syt-contact-link {
    height: 100px;
    font-size: 18px;
    padding-top: 15px;
  }
}

body main.syt-main .syt-adventage .syt-contact-link .contact-link-btn {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  border-radius: 25px;
  background-color: #f5d62a;
  color: #000000;
  font-size: 22px;
  position: absolute;
  bottom: 40px;
  left: calc(50% - 100px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 991px) {
  body main.syt-main .syt-adventage .syt-contact-link .contact-link-btn {
    width: 150px;
    height: 40px;
    font-size: 16px;
    bottom: 10px;
    left: calc(50% - 75px);
  }
}

body main.syt-main .syt-adventage .syt-contact-link .contact-link-btn:hover {
  color: #f5d62a;
  background-color: #000000;
}

@media (max-width: 991px) {
  body main.syt-main .syt-works {
    height: auto;
  }
}

body main.syt-main .syt-works h2 {
  color: #0060ae;
  padding-top: 100px;
  margin-bottom: 50px;
}

body main.syt-main .syt-works .container {
  max-width: 85%;
}

@media (max-width: 991px) {
  body main.syt-main .syt-works .container {
    max-width: 100%;
  }
}

body main.syt-main .syt-works .works-container {
  margin-bottom: 50px;
}

body main.syt-main .syt-works .works-container .swiper {
  width: 100%;
  padding: 0px 50px 100px;
  z-index: 0;
}

@media (max-width: 991px) {
  body main.syt-main .syt-works .works-container .swiper {
    height: auto;
    padding: 0px 60px 50px;
  }
}

@media (max-width: 576px) {
  body main.syt-main .syt-works .works-container .swiper {
    padding: 0px 50px 30px;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-works .works-container .swiper .swiper-wrapper {
    height: auto;
  }
}

body main.syt-main .syt-works .works-container .swiper .swiper-slide {
  height: 100%;
  text-align: left;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  body main.syt-main .syt-works .works-container .swiper .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-pic {
    height: auto;
  }
}

body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-pic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info {
  padding: 20px 35px 20px 20px;
}

@media (max-width: 991px) {
  body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info {
    text-align: center;
  }
}

body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info .works-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info .works-tags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info .works-tags .tag {
  color: #021494;
  padding: 7px 15px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  outline: 1px solid #021494;
}

@media (max-width: 1299px) {
  body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info .works-tags .tag {
    padding: 7px 10px 5px;
    margin-right: 5px;
  }
}

@media (max-width: 576px) {
  body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info .works-tags .tag {
    padding: 7px 7px 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }
}

body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info .works-title {
  color: #000000;
  padding-top: 0px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info .works-title {
    font-size: 20px;
  }
}

body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info .works-content {
  margin-bottom: 10px;
  color: #666666;
}

@media (max-width: 576px) {
  body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info .works-content {
    font-size: 16px;
  }
}

body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info .works-more-btn {
  width: 120px;
  height: 40px;
  background-color: #FBD914;
  color: #303030;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
}

body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info .works-more-btn:hover {
  color: #FBD914;
  background-color: #303030;
}

@media (max-width: 576px) {
  body main.syt-main .syt-works .works-container .swiper .swiper-slide .works-info .works-more-btn {
    width: 100px;
    height: 30px;
    font-size: 18px;
    padding-top: 4px;
  }
}

body main.syt-main .syt-works .works-container .swiper .swiper-button-next {
  right: 10px;
}

body main.syt-main .syt-works .works-container .swiper .swiper-button-prev {
  left: 10px;
}

body main.syt-main .syt-works .works-container .swiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #979797;
  opacity: 1;
  margin: 0 20px;
}

@media (max-width: 767px) {
  body main.syt-main .syt-works .works-container .swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 10px;
  }
}

body main.syt-main .syt-works .works-container .swiper .swiper-pagination-bullet-active {
  background-color: #021494;
}

body main.syt-main .syt-works .works-container .swiper .swiper-button-next::after,
body main.syt-main .syt-works .works-container .swiper .swiper-button-prev::after {
  display: none;
}

body main.syt-main .syt-works .works-container .swiper .swiper-button-next i,
body main.syt-main .syt-works .works-container .swiper .swiper-button-prev i {
  width: 100%;
  height: 100%;
  font-size: 72px;
  color: #021494;
}

@media (max-width: 767px) {
  body main.syt-main .syt-works .works-container .swiper .swiper-button-next i,
  body main.syt-main .syt-works .works-container .swiper .swiper-button-prev i {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  body main.syt-main .syt-works .works-container .swiper .swiper-button-next i,
  body main.syt-main .syt-works .works-container .swiper .swiper-button-prev i {
    font-size: 48px;
  }
}

body main.syt-main .contact-service {
  position: fixed;
  z-index: 2;
  bottom: 50px;
  right: 10px;
}

body main.syt-main .contact-service .service-btn {
  width: 60px;
  height: 60px;
  background-color: #e69d00;
  color: #FFFFFF;
  font-size: 28px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px #0000006b;
          box-shadow: 0px 0px 5px #0000006b;
}

@media (max-width: 767px) {
  body main.syt-main .contact-service .service-btn {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
}

body main.syt-main .contact-service .service-icon .service-icon-ul {
  list-style: none;
  position: absolute;
  z-index: 2;
  bottom: 45px;
  right: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 767px) {
  body main.syt-main .contact-service .service-icon .service-icon-ul {
    bottom: 35px;
  }
}

body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  padding: 0px 5px;
  background-color: #ffd30f;
  color: #000000;
  font-size: 30px;
  text-align: center;
  border-radius: 100px;
  margin-bottom: 10px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 5px #0000006b;
          box-shadow: 0px 0px 5px #0000006b;
}

body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li a:hover {
  width: 150px;
}

@media (max-width: 767px) {
  body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li a:hover {
    width: 50px;
    background-color: #000000;
    color: #ffd30f;
  }
}

@media (max-width: 767px) {
  body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li a {
    width: 50px;
    height: 50px;
    font-size: 24px;
    padding: 0px 2.5px;
  }
}

body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li a img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li a img {
    width: 28px;
    height: 28px;
  }
}

body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li a i {
  margin-left: 10px;
  margin-right: 10px;
}

body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li a .icon-title {
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
}

@media (max-width: 767px) {
  body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li a .icon-title {
    font-size: 16px;
  }
}

body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li .chat-icon:hover,
body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li .contact-icon:hover {
  width: 180px;
}

@media (max-width: 767px) {
  body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li .chat-icon:hover,
  body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li .contact-icon:hover {
    width: 50px;
  }
}

body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li .line-icon {
  padding: 0px 2.5px;
}

body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li .line-icon .line-img-hover {
  display: none;
}

@media (max-width: 767px) {
  body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li .line-icon {
    padding: 0px 1px;
  }
  body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li .line-icon:hover .line-img {
    display: none;
  }
  body main.syt-main .contact-service .service-icon .service-icon-ul .service-icon-li .line-icon:hover .line-img-hover {
    display: block;
  }
}

body footer.syt-footer {
  background-color: #fafbfd;
  padding: 60px;
  font-weight: 300;
}

body footer.syt-footer .footer-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) {
  body footer.syt-footer .footer-flex {
    display: block;
    text-align: center;
  }
}

body footer.syt-footer .footer-flex .syt-logo {
  width: 220px;
}

@media (max-width: 1199px) {
  body footer.syt-footer .footer-flex .syt-logo {
    width: 200px;
  }
}

@media (max-width: 991px) {
  body footer.syt-footer .footer-flex .syt-logo {
    width: 150px;
  }
}

@media (max-width: 767px) {
  body footer.syt-footer .footer-flex .syt-logo {
    margin: 0px auto 10px;
  }
}

body footer.syt-footer .footer-flex .syt-logo img {
  width: 100%;
}

@media (max-width: 991px) {
  body footer.syt-footer .footer-flex .contact-us {
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  body footer.syt-footer .footer-flex .information {
    margin-bottom: 10px;
  }
}

body footer.syt-footer .footer-flex .icon {
  width: 40px;
  margin: 0 10px;
}

@media (max-width: 767px) {
  body footer.syt-footer .footer-flex .icon {
    margin: auto;
  }
}

body footer.syt-footer .footer-flex .icon img {
  width: 100%;
}

body footer.syt-footer .footer-flex .main-title {
  font-size: 20px;
  color: #006cae;
}

body footer.syt-footer .footer-flex .title {
  color: #5c5c5c;
}

body footer.syt-footer .footer-flex .content {
  color: #888888;
}

@media (max-width: 1199px) {
  body footer.syt-footer .footer-flex .content {
    max-width: 240px;
  }
}

@media (max-width: 767px) {
  body footer.syt-footer .footer-flex .content {
    max-width: 100%;
  }
}

body footer.syt-footer .copyright {
  color: #888888;
  text-align: center;
}

body .white-space {
  display: none;
}

@media (max-width: 991px) {
  body .white-space {
    display: block;
  }
}

body .active .line-icon {
  -webkit-transform: translateX(-100px) !important;
          transform: translateX(-100px) !important;
  -webkit-transition: 0.9s ease-in-out !important;
  transition: 0.9s ease-in-out !important;
}

body .active .chat-icon {
  -webkit-transform: translateX(-100px) !important;
          transform: translateX(-100px) !important;
  -webkit-transition: 0.8s ease-in-out !important;
  transition: 0.8s ease-in-out !important;
}

body .active .contact-icon {
  -webkit-transform: translateX(-100px) !important;
          transform: translateX(-100px) !important;
  -webkit-transition: 0.7s ease-in-out !important;
  transition: 0.7s ease-in-out !important;
}

body .active .email-icon {
  -webkit-transform: translateX(-100px) !important;
          transform: translateX(-100px) !important;
  -webkit-transition: 0.6s ease-in-out !important;
  transition: 0.6s ease-in-out !important;
}

body .active .phone-icon {
  -webkit-transform: translateX(-100px) !important;
          transform: translateX(-100px) !important;
  -webkit-transition: 0.5s ease-in-out !important;
  transition: 0.5s ease-in-out !important;
}

body .change-nav {
  background-color: #3c85d8 !important;
}

body .change-nav .navbar-brand img {
  mix-blend-mode: plus-lighter;
}

body .change-nav .nav-link {
  color: #FFFFFF;
}

body .nav-no-bg {
  background-color: transparent !important;
}

body .container {
  max-width: 80%;
}

@media (max-width: 1299px) {
  body .container {
    max-width: 85%;
  }
}

@media (max-width: 991px) {
  body .container {
    max-width: 100%;
  }
}

body button {
  border: none;
  outline: none;
}

body button :focus {
  border: none;
  outline: none;
}

body a {
  text-decoration: none;
}

@-webkit-keyframes scroll-down-animation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes scroll-down-animation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes arrow-animation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes arrow-animation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes show {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=index.css.map */