body {
    font-family: adobe-fan-heiti-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    overflow-x: hidden;
    letter-spacing: 1px;

    nav.syt-nav {
        width: 100%;
        background-color: transparent;
        position: fixed;
        z-index: 1;
        transition: 0.5s ease-in-out;
        background-color: #FFFFFF;

        .container-fluid {

            @media (max-width:991px) {
                padding: 0px;
            }

            .navbar-brand {
                width: 280px;

                @media (max-width:1549px) {
                    width: 250px;
                }

                @media (max-width:1299px) {
                    width: 230px;
                }

                @media (max-width:991px) {
                    width: 200px;
                    margin-left: 12px;
                }

                @media (max-width:767px) {
                    width: 150px;
                }

                img {
                    width: 100%;
                }

                .nav-icon-change {
                    @media (max-width:991px) {
                        display: none;
                    }
                }

                // .nav-icon{
                //     @media (max-width:991px) {
                //         display: none;
                //     }
                // }
            }

            .navbar-toggler {
                // background-color: #9ea4f15b;
                outline: #223e72 2px solid;
                transition: 0.5s ease-in-out;

                // margin-right: 12px;
                @media (max-width:991px) {
                    margin-right: 12px;
                }

                &:focus {
                    box-shadow: none;
                }
            }

            .navbar-collapse {
                transition: 0.5s ease-in-out;

                // @media (max-width:991px) {
                //     background-color: #6d7ac4c5;
                // }
            }

            ul {
                li {
                    .nav-link {
                        font-size: 16px;
                        color: #000000;
                        padding: 10px 20px;
                        transition: 0.5s ease-in-out;

                        @media (max-width:991px) {
                            padding: 15px 10px;
                            text-align: center;
                            // color: #FFFFFF;
                        }

                        img {
                            width: 40px;

                            @media (max-width:1299px) {
                                width: 30px;
                            }
                        }

                        &:hover {
                            transform: translateY(-5px);
                            color: #195ad3;
                        }
                    }

                    .nav-link.active {
                        color: #FBD914;
                    }

                    .nav-btn {
                        background-color: #ffd30f;
                        color: #000000;
                        border-radius: 30px;
                        padding: 5px 20px 3px;
                        margin-top: 5px;
                        font-size: 18px;

                        &:hover {
                            color: #ffd30f;
                            background-color: #000000;
                            transform: translateY(0px);
                        }

                        @media (max-width:1199px) {
                            padding: 5px 10px;
                            // margin-top: 0px;
                        }

                        @media (max-width:991px) {
                            margin: 0px auto 20px;
                            display: table;
                        }
                    }
                }

                .item-margin {
                    margin-right: 30px;

                    // @media (max-width:1899px) {
                    //     margin-right: 200px;
                    // }

                    // @media (max-width:1679px) {
                    //     margin-right: 150px;
                    // }

                    // @media (max-width:1549px) {
                    //     margin-right: 100px;
                    // }

                    // @media (max-width:1399px) {
                    //     margin-right: 50px;
                    // }

                    @media (max-width:991px) {
                        margin-right: 0px;
                    }
                }

                .item-margin-btn {
                    margin-right: 20px;

                    @media (max-width:1199px) {
                        margin-right: 15px;
                    }

                    @media (max-width:991px) {
                        margin: 0px;
                    }
                }
            }

        }
    }

    main.syt-main {
        .syt-banner {
            position: relative;
            width: 100%;
            height: 100vh;
            // background-color: transparent;
            background-image: url("../img/banner-img.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @media (max-width:991px) {
                height: 100vh;
            }

            .syt-text {
                position: absolute;
                top: 20%;
                left: 200px;
                letter-spacing: 5px;
                // //新版本
                // top: 25%;

                @media (max-width:1299px) {
                    left: 100px;
                }

                @media (max-width:991px) {
                    text-align: center;
                    top: 30%;
                    left: calc(50% - 170px);
                }

                @media (max-width:575px) {
                    // top: 35%;
                    left: calc(50% - 140px);
                }


                a {
                    width: 200px;
                    height: 50px;

                    background-color: #FBD914;
                    color: #000000;

                    font-size: 26px;
                    letter-spacing: 1px;
                    border-radius: 100px;

                    transition: 0.5s ease-in-out;
                    white-space: nowrap;

                    padding: 8px 20px;

                    display: inline-block;

                    @media (max-width:1299px) {
                        margin-top: 30px;
                    }

                    @media (max-width:991px) {
                        margin-top: 10px;
                        width: 150px;
                        height: 40px;
                        font-size: 20px;
                        transform: translateX(-20px);
                    }

                    @media (max-width:575px) {
                        font-size: 18px;
                    }

                    &:hover {
                        transform: translateY(-10px) !important;
                    }

                    img {
                        width: 40px;

                        @media (max-width:991px) {
                            width: 30px;
                        }
                    }

                    .more-img-hover {
                        display: none;
                    }
                }


                .syt-title {
                    font-size: 76px;
                    color: #FFFFFF;
                    // text-shadow: rgba(0, 0, 0, 0.5)5px 5px 5px;
                    margin-bottom: 10px;

                    @media (max-width:1299px) {
                        font-size: 60px;
                    }

                    @media (max-width:991px) {
                        font-size: 50px;
                    }

                    @media (max-width:575px) {
                        font-size: 40px;
                    }

                    @media (max-width:399px) {
                        font-size: 35px;
                    }
                }

                .syt-content {
                    font-size: 55px;
                    color: #FBD914;
                    // text-shadow: rgba(0, 0, 0, 0.5)2px 2px 5px;
                    margin-bottom: 20px;
                    @media (max-width:1299px) {
                        font-size: 40px;
                    }

                    @media (max-width:991px) {
                        font-size: 30px;
                    }

                    @media (max-width:575px) {
                        font-size: 20px;
                    }
                }
                .more-btn{
                    margin-right: 10px;
                }
            }

            #fade {
                position: absolute;
                font-size: 76px;
                text-shadow: rgba(0, 0, 0, 0.5)5px 5px 5px;
                //原版本
                top: 0px;
                left: 180px;
                color: #FBD914;
                // //新版本
                // left: 200px;

                @media (max-width:1299px) {
                    left: 140px;
                    font-size: 60px;
                    // //新版本
                    // left: 160px;
                }

                @media (max-width:991px) {
                    font-size: 50px;
                    left: 130px;
                }

                @media (max-width:575px) {
                    font-size: 40px;
                    top: 0px;
                    left: calc(50% - 50px);
                }

                @media (max-width:399px) {
                    font-size: 35px;
                }
            }

            .scroll-down {
                position: absolute;
                color: #202020;
                text-align: center;
                left: calc(50% - 85px);
                bottom: 30px;
                font-size: 24px;
                text-shadow: rgba(0, 0, 0, 0.5)3px 3px 3px;

                // svg{
                //     box-shadow: rgba(0, 0, 0, 0.5)5px 5px 5px;
                // }
                // animation: scroll-down-animation 2s infinite linear;
                @media (max-width: 991px) {
                    display: none;
                }

                img {
                    width: 60px;
                }

                i {
                    position: absolute;
                    left: 19px;
                    bottom: 30px;
                    display: block;
                    animation: arrow-animation 1s infinite linear;
                }
            }
        }

        .syt-service {
            width: 100%;
            // opacity: 0;
            transition: 0.5s ease-in-out;
            position: relative;
            color: #000;
            margin-bottom: 70px;

            @media (max-width: 991px) {
                margin-bottom: 30px;
                height: auto;
            }

            .service-container {

                h2 {
                    color: #006cae;
                    padding-top: 120px;
                    margin-bottom: 50px;

                    @media (max-width: 991px) {
                        padding-top: 80px;
                    }
                }

                h3 {
                    color: #FFFFFF;
                    font-weight: 600;
                }

                p {
                    font-size: 20px;

                    @media (max-width: 1436px) {
                        font-size: 18px;
                    }

                    @media (max-width: 991px) {
                        font-size: 16px;
                    }
                }


                .card {
                    position: relative;
                    height: 62.5vh;
                    transition: transform .5s linear;

                    // @media (max-width:1299px) {
                    //     height: 500px;
                    // }
                    &:hover {
                        .card-body {
                            height: 100%;
                            transition: 0.5s ease-in-out;
                            padding-top: 55%;

                            @media (max-width:1299px) {
                                padding-top: 90%;
                            }

                            @media (max-width:991px) {
                                height: auto;
                                padding-top: 20px;
                            }
                        }
                    }

                    @media (max-width: 991px) {
                        height: 350px;
                    }

                    // height: 650px;
                    // &:hover {
                    //     .card-body {
                    //         height: 100%;
                    //         transition: 0.5s ease-in-out;
                    //         padding-top: 55%;

                    //         @media (max-width:1299px) {
                    //             padding-top: 90%;
                    //         }

                    //         @media (max-width:991px) {
                    //             height: auto;
                    //             padding-top: 20px;
                    //         }
                    //     }
                    // }

                    @media (max-width: 991px) {
                        // height: 350px;
                        margin-bottom: 30px;
                    }

                    .card-body {
                        width: 100%;
                        height: 200px;
                        position: absolute;
                        bottom: 0px;
                        text-align: left;
                        background-color: #171a2c8e;
                        padding: 20px;
                        border-bottom-left-radius: .25rem;
                        border-bottom-right-radius: .25rem;
                        transition: 0.5s ease-in-out;

                        @media (max-width: 991px) {
                            height: auto;
                            transition: 0.5s ease-in-out;
                        }

                        @media (max-width: 399px) {
                            padding: 10px;
                        }

                        .card-text {
                            height: 70px;
                            color: #FBD914;

                            @media (max-width: 991px) {
                                height: auto;
                            }
                        }

                        a {
                            width: 120px;
                            height: 40px;
                            display: block;
                            // position: absolute;
                            bottom: 20px;
                            // left: calc(50% - 80px);

                            font-size: 18px;
                            text-align: center;

                            border-radius: 100px;
                            background-color: #FBD914;
                            color: #3b3b3b;
                            transition: 0.5s ease-in-out;

                            padding-top: 8px;

                            &:hover {
                                background-color: #3b3b3b;
                                color: #FBD914;
                            }

                            @media (max-width: 991px) {
                                display: inline-block;
                            }
                            i{
                                margin-left: 5px;
                            }
                        }
                    }

                }

                #card-1 {
                    background-image: url("../img/service1.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 20%;
                }

                #card-2 {
                    background-image: url("../img/service2.jpeg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 35%;
                }

                #card-3 {
                    background-image: url("../img/service3.jpeg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 67.5%;
                }



                .card-border {
                    border: none;
                }

                .hoverzoom:hover {
                    transform: scale(1.05);
                    border: none !important;
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) !important;
                }

                .hovershadow {
                    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
                    border-radius: 4px;
                }

                .hoverzoom {
                    transition: transform .5s linear;
                }
            }
        }

        .syt-adventage {
            height: auto;
            // background-image: url("../img/bg-decoration.png");
            // background-position: center;
            // background-size: cover;
            // background-blend-mode: color;
            // position: relative;
            // background-color: rgba(255, 255, 255, 0.6);

            h2 {
                padding-top: 120px;
                margin-bottom: 20px;
                text-align: center;

                @media (max-width: 991px) {
                    padding-top: 80px;
                }
            }

            h2,
            h3 {
                color: #006cae;
            }

            .container {
                max-width: 70%;

                @media (max-width: 767px) {
                    max-width: 90%;
                }
            }

            .adventage-container {
                align-items: center;
                padding: 20px 0px 0px;

                @media (max-width: 1199px) {
                    display: block;
                }

                .adventage-items {
                    display: flex;
                    flex-wrap: wrap;
                    margin: auto;

                    @media (max-width: 1199px) {
                        padding-right: 0px;
                    }
                }

                .adventage-card {
                    margin-bottom: 40px;
                    text-align: center;

                    .adventage-img {
                        width: 180px;
                        height: 120px;
                        max-height: 150px;
                        margin: 0 auto 10px;

                        @media (max-width: 767px) {
                            width: 75px;
                            height: 50px;
                        }

                        img {
                            height: 100%;
                        }
                    }

                    .adventage-title {
                        width: 220px;
                        font-size: 24px;
                        font-weight: 600;
                        color: #FFFFFF;
                        background-color: #0c57c9;
                        margin: 0px auto 10px;
                        padding: 10px;
                        white-space: nowrap;

                        @media (max-width: 767px) {
                            width: 180px;
                            font-size: 20px;
                            padding: 5px;
                        }

                        @media (max-width: 575px) {
                            width: 150px;
                            font-size: 16px;
                        }

                        @media (max-width: 399px) {
                            width: 140px;
                            font-size: 14px;
                        }
                    }

                    .adventage-content {
                        // width: 200px;
                        margin: auto;
                        font-size: 20px;
                        color: #0c57c9;

                        @media (max-width: 767px) {
                            width: 200px;
                            font-size: 16px;
                        }

                        @media (max-width: 575px) {
                            width: 150px;
                        }

                        @media (max-width: 399px) {
                            width: 140px;
                            font-size: 12px;
                        }
                    }
                }
            }

            .syt-contact-link {
                width: 100%;
                height: 200px;
                background-image: url("../img/contact-link-bg.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                text-align: center;
                padding-top: 40px;
                font-size: 28px;
                position: relative;
                color: #FFFFFF;

                margin-bottom: 30px;

                @media (max-width: 991px) {
                    height: 120px;
                    font-size: 20px;
                    padding-top: 20px;
                }

                .contact-link-btn {
                    width: 200px;
                    height: 50px;
                    padding-top: 10px;

                    border-radius: 25px;
                    background-color: #f5d62a;
                    color: #000000;
                    font-size: 22px;

                    position: absolute;
                    bottom: 40px;
                    left: calc(50% - 100px);

                    transition: 0.5s ease-in-out;

                    @media (max-width: 991px) {
                        width: 150px;
                        height: 40px;
                        font-size: 18px;
                        bottom: 20px;
                        padding-top: 8px;
                        left: calc(50% - 75px);
                    }

                    &:hover {
                        color: #f5d62a;
                        background-color: #000000;
                    }
                    i{
                        margin-left: 5px;
                    }
                }

            }
        }

        .syt-works {

            // background-color: #b8c7e6;
            @media (max-width: 991px) {
                height: auto;
            }

            h2 {
                color: #0060ae;
                padding-top: 120px;
                margin-bottom: 50px;
                text-align: center;

                @media (max-width: 991px) {
                    padding-top: 80px;
                }
            }

            .container {
                max-width: 85%;

                @media (max-width: 991px) {
                    max-width: 100%;
                }
            }

            .works-container {
                margin-bottom: 50px;

                .swiper {
                    width: 100%;
                    // height: 60%;
                    // background-color: #2f80cc;
                    padding: 0px 50px 100px;
                    z-index: 0;

                    @media (max-width: 991px) {
                        height: auto;
                        padding: 0px 60px 50px;
                    }

                    // @media (max-width: 767px) {

                    //     padding: 0px 30px 30px;
                    // }
                    @media (max-width: 575px) {
                        padding: 0px 50px 30px;
                    }

                    .swiper-wrapper {
                        @media (max-width: 991px) {
                            height: auto;
                            margin-bottom: 20px;
                        }
                    }

                    .swiper-slide {
                        height: 100%;
                        text-align: left;
                        font-size: 18px;
                        background: #fff;

                        display: flex;


                        justify-content: center;
                        align-items: center;

                        @media (max-width: 991px) {
                            flex-direction: column;
                            justify-content: initial;
                        }

                        .works-pic {
                            // width: 50%;
                            // height: 100%;

                            @media (max-width: 1199px) {
                               margin-bottom: 20px;
                            }
                            @media (max-width: 991px) {
                                height: auto;
                            }

                            img {
                                width: 100%;
                                object-fit: cover;
                                // margin: 15% 0px;
                            }
                        }

                        .works-info {
                            padding: 20px 25px 20px 35px;

                            @media (max-width: 991px) {
                                text-align: center;
                                padding: 15px 10px;
                            }

                            @media (max-width: 575px) {
                                text-align: center;
                                padding: 10px 0px;
                            }

                            .works-tags {
                                display: flex;
                                flex-wrap: wrap;
                                margin-bottom: 20px;

                                @media (max-width: 991px) {
                                    justify-content: center;
                                }

                                .tag {
                                    color: #5e5e5e;
                                    // border-radius: 25px;
                                    padding: 7px 15px 5px;
                                    margin-right: 10px;
                                    margin-bottom: 10px;
                                    outline: 1px solid #5e5e5e;
                                    font-size: 16px;

                                    @media (max-width: 1299px) {
                                        padding: 7px 10px 5px;
                                        margin-right: 5px;
                                    }

                                    @media (max-width: 575px) {
                                        padding: 5px 5px 5px;
                                        margin-bottom: 5px;
                                        font-size: 12px;
                                    }
                                }
                            }

                            .works-title {
                                color: #000000;
                                padding-top: 0px;
                                margin-bottom: 10px;
                                text-align: left;
                                @media (max-width: 991px) {
                                    text-align: center;
                                }
                                @media (max-width: 575px) {
                                    font-size: 20px;
                                }
                            }

                            .works-content {
                                margin-bottom: 10px;
                                color: #666666;

                                @media (max-width: 575px) {
                                    font-size: 18px;
                                }
                            }

                            .works-more-btn {
                                width: 120px;
                                height: 40px;
                                background-color: #FBD914;
                                color: #303030;
                                transition: 0.5s ease-in-out;
                                display: inline-block;
                                text-align: center;
                                padding-top: 8px;
                                border-radius: 100px;

                                &:hover {
                                    color: #FBD914;
                                    background-color: #303030;
                                }

                                @media (max-width: 575px) {
                                    width: 100px;
                                    height: 30px;
                                    font-size: 18px;
                                    padding-top: 4px;
                                }
                            }
                        }


                        // img {
                        //     display: block;
                        //     width: 100%;
                        //     height: 100%;
                        //     object-fit: cover;
                        // }
                    }

                    .swiper-button-next {
                        right: 10px;

                        @media (max-width: 991px) {
                            right: 20px;
                        }
                    }

                    .swiper-button-prev {
                        left: 10px;

                        @media (max-width: 991px) {
                            left: 20px;
                        }
                    }

                    .swiper-pagination-bullet {
                        width: 16px;
                        height: 16px;
                        background-color: #cecece;
                        opacity: 1;
                        margin: 0 20px;
                        @media (max-width: 991px) {
                            width: 14px;
                            height: 14px;
                            margin: 0 10px;

                        }
                        @media (max-width: 767px) {
                            width: 10px;
                            height: 10px;
                            margin: 0 10px;
                        }
                    }

                    .swiper-pagination-bullet-active {
                        background-color: #6d81c4;
                    }

                    .swiper-button-next::after,
                    .swiper-button-prev::after {
                        display: none;
                    }

                    .swiper-button-next i,
                    .swiper-button-prev i {
                        width: 100%;
                        height: 100%;
                        font-size: 72px;
                        color: #021494;

                        @media (max-width: 767px) {
                            font-size: 60px;
                        }

                        @media (max-width: 575px) {
                            font-size: 48px;
                        }
                    }
                    // .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
                    //     @media (max-width: 991px) {
                    //         bottom: 300px;
                    //     }
                    //     @media (max-width: 959px) {
                    //         bottom: 320px;
                    //     }
                    //     @media (max-width: 579px) {
                    //         bottom: 350px;
                    //     }
                    //     @media (max-width: 575px) {
                    //         bottom: 280px;
                    //     }
                    // }
                }
            }

        }

        .syt-contact {
            background-image: linear-gradient(90deg, #202c88 45%, #ffffff 45%);
            // background-color: #202c88;
            padding: 50px 0px;
            @media (max-width:1199px) {
                // background-image:none;
                // background-color: #202c88;
                background-image: linear-gradient(180deg, #202c88 32.5%, #ffffff 32.5%);
            }
            @media (max-width:991px) {
                background-image: linear-gradient(180deg, #202c88 28%, #ffffff 28%);
            }
            @media (max-width:767px) {
                background-image: linear-gradient(180deg, #202c88 25%, #ffffff 25%);
            }
            .contact-container {
                display: flex;
                align-items: center;
                padding-top: 100px;
                flex-wrap: wrap;
                margin-bottom: 40px;
                @media (max-width: 991px) {
                    padding-top: 50px;
                }
                .contact-text {
                    @media (max-width: 1199px) {
                        text-align: center;
                        margin-bottom: 70px;
                    }
                    img {
                        width: 400px;
                        @media (max-width: 1199px) {
                            margin-bottom: 20px;
                        }
                        @media (max-width: 991px) {
                            width: 300px;
                        }
                        @media (max-width: 767px) {
                            width: 200px;
                        }
                    }

                    hr {
                        width: 400px;
                        opacity: 1;
                        background-color: #FFFFFF;
                        
                        @media (max-width: 1199px) {
                            width: 400px;
                            margin: auto;
                            margin-bottom: 20px;
                        }
                        @media (max-width: 991px) {
                            width: 300px;
                        }
                        @media (max-width: 767px) {
                            width: 200px;
                        }
                    }

                    .text-1 {
                        font-size: 36px;
                        color: #FBD914;
                        @media (max-width: 991px) {
                            font-size: 30px;
                        }
                        @media (max-width: 767px) {
                            font-size: 26px;
                        }
                    }

                    .text-2 {
                        font-size: 28px;
                        color: #FFFFFF;
                        @media (max-width: 991px) {
                            font-size: 24px;
                        }
                        @media (max-width: 767px) {
                            font-size: 20px;
                        }
                    }
                }

                .contact-form {
                    color: #575757;
                    background-color: #FFFFFF;
                    border-radius: 30px;
                    margin-left: auto;
                    // margin-left: 30px;
                    border: #5c5c5c 1px solid;
                    @media (max-width:1199px) {
                        margin: auto;
                        margin-top: 30px;
                    }
                    .form-content {
                        background-color: #8e8e8e;
                        color: #FFFFFF;
                        padding: 30px;
                        border-top-left-radius: 30px;
                        border-top-right-radius: 30px;
                    }

                    form {
                        padding: 30px;
                        border-bottom-left-radius: 30px;
                        border-bottom-right-radius: 30px;
                        position: relative;
                        

                        div {
                            margin-bottom: 20px;

                            label {
                                margin-bottom: 10px;
                            }

                            input:focus {
                                outline: none;
                            }

                            input[type=text],
                            [type=number] {
                                height: 40px;
                                width: 84%;
                                border-radius: 10px;
                                border: #8e8e8e 1px solid;
                                @media (max-width:1824px) {
                                    width: 82%;
                                }
                                @media (max-width:1636px) {
                                    width: 80%;
                                }
                                @media (max-width:1495px) {
                                    width: 78%;
                                }
                                @media (max-width:1380px) {
                                    width: 75%;
                                }
                                @media (max-width:1199px) {
                                    width: 84%;
                                }
                                @media (max-width:767px) {
                                    width: 100%;
                                }
                            }
                            label[for=system],[for=website],[for=app]{
                                cursor: pointer;
                            }
                            textarea {
                                width: 100%;
                                height: 100px;
                                resize: none;
                            }

                        }

                        .send {
                            display: flex;
                            justify-content: center;

                            .submit {
                                // width: 100px;
                                // height: 40px;

                                padding: 15px 30px;
                                background-color: #FBD914;
                                color: #000000;
                                border-radius: 100px;
                                transition: 0.5s ease-in-out;
                                font-size: 20px;
                                &:hover{
                                    // outline: #FBD914 1px solid;
                                    background-color: #000000;
                                    color: #FBD914;
                                }
                            }
                        }
                    }
                }

            }

            .required {
                color: #ff0000;
            }
        }

        .contact-service {
            position: fixed;
            z-index: 2;
            bottom: 50px;
            right: 10px;

            .service-btn {
                width: 60px;
                height: 60px;
                display: inline-block;
                background-color: #e69d00;
                color: #FFFFFF;
                font-size: 28px;
                text-align: center;
                border-radius: 50%;

                box-shadow: 0px 0px 5px #0000006b;

                padding: 10px;

                cursor: pointer;

                @media (max-width:767px) {
                    width: 50px;
                    height: 50px;
                    font-size: 24px;
                }
            }

            .service-icon {
                // display: none;

                .service-icon-ul {
                    list-style: none;

                    position: absolute;
                    z-index: 2;
                    bottom: 45px;
                    right: -100px;

                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;



                    @media (max-width:767px) {
                        bottom: 35px;
                    }

                    .service-icon-li {

                        a {
                            display: flex;
                            flex-flow: row-reverse;
                            align-items: center;

                            width: 60px;
                            height: 60px;
                            padding: 0px 5px;

                            background-color: #ffd30f;
                            color: #000000;
                            font-size: 30px;
                            text-align: center;

                            border-radius: 100px;
                            margin-bottom: 10px;

                            transition: 0.5s ease-in-out;

                            overflow: hidden;
                            white-space: nowrap;

                            box-shadow: 0px 0px 5px #0000006b;

                            &:hover {
                                width: 150px;

                                @media (max-width:767px) {
                                    width: 50px;
                                    background-color: #000000;
                                    color: #ffd30f;
                                }
                            }

                            @media (max-width:767px) {
                                width: 50px;
                                height: 50px;
                                font-size: 24px;
                                padding: 0px 2.5px;
                            }

                            img {
                                width: 35px;
                                height: 35px;
                                margin-left: 10px;
                                margin-right: 10px;

                                @media (max-width:767px) {
                                    width: 28px;
                                    height: 28px;
                                }
                            }

                            i {
                                margin-left: 10px;
                                margin-right: 10px;
                            }

                            .icon-title {
                                font-size: 20px;
                                text-align: center;
                                margin-right: 10px;

                                @media (max-width:767px) {
                                    font-size: 16px;
                                }
                            }
                        }

                        .chat-icon,
                        .contact-icon {
                            &:hover {
                                width: 180px;

                                @media (max-width:767px) {
                                    width: 50px;
                                }
                            }
                        }

                        .line-icon {
                            padding: 0px 2.5px;

                            .line-img-hover {
                                display: none;
                            }

                            @media (max-width:767px) {
                                padding: 0px 1px;

                                &:hover {
                                    .line-img {
                                        display: none;
                                    }

                                    .line-img-hover {
                                        display: block;
                                    }
                                }
                            }
                        }
                        // .phone-icon{
                        //     @media (max-width:1199px) {
                        //         display: none;
                        //     }
                            
                        // }
                        // .phone-icon-phone{
                        //     display: none;
                        //     @media (max-width:1199px) {
                        //         display: block;
                        //     }
                            
                        // }
                    }

                }
            }
        }
    }

    footer.syt-footer {
        background-color: #fafbfd;
        padding: 30px 20px 20px;
        font-weight: 300;
        @media (max-width: 767px) {
            padding: 20px 5px 10px;
        }
        .footer-flex {
            width: 100%;
            display: flex;
            // justify-content: space-around;
            // align-items: center;
            justify-content: space-around;

            @media (max-width: 767px) {
                display: block;
                text-align: center;
                font-size: 14px;
            }

            .syt-logo {
                width: 220px;

                @media (max-width: 1199px) {
                    width: 200px;
                }

                @media (max-width: 991px) {
                    width: 150px;
                }

                @media (max-width: 767px) {
                    margin: 0px auto 10px;
                }

                img {
                    width: 100%;
                }
            }

            .contact-us {
                @media (max-width: 991px) {
                    margin-bottom: 10px;
                }
                @media (max-width: 767px) {
                    display: none;
                }
            }
            .contact-us-phone{
                display: none;
                @media (max-width: 767px) {
                    display: block;
                }
            }
            // .content-us-flex{
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: left;
            // }
            .information {

                // margin: 0 10px;
                @media (max-width: 991px) {
                    margin-bottom: 10px;
                }
            }

            .icon {
                width: 40px;
                margin: 0 10px;

                @media (max-width: 767px) {
                    margin: auto;
                }

                img {
                    width: 100%;
                }
            }

            .main-title {
                font-size: 20px;
                color: #006cae;
                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }

            .title {
                color: #5c5c5c;
            }

            .content {
                color: #888888;

                @media (max-width: 1199px) {
                    max-width: 240px;
                }

                @media (max-width: 767px) {
                    max-width: 100%;
                }
            }
        }

        .copyright {
            color: #888888;
            text-align: center;
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
    }

    .white-space {
        display: none;

        @media (max-width: 991px) {
            display: block;
        }
    }

    .active {

        .line-icon {
            transform: translateX(-100px) !important;
            transition: 0.9s ease-in-out !important;
        }

        .chat-icon {
            transform: translateX(-100px) !important;
            transition: 0.8s ease-in-out !important;
        }

        .contact-icon {
            transform: translateX(-100px) !important;
            transition: 0.7s ease-in-out !important;
        }

        .email-icon {
            transform: translateX(-100px) !important;
            transition: 0.6s ease-in-out !important;
        }

        .phone-icon {
            transform: translateX(-100px) !important;
            transition: 0.5s ease-in-out !important;
        }
        .phone-icon-phone {
            transform: translateX(-100px) !important;
            transition: 0.5s ease-in-out !important;
        }

    }

    // .not-active{

    //     .line-icon{
    //         transform: translateX(-100px) !important;
    //         transition: 0.5s ease-in-out !important;
    //     }
    //     .chat-icon{
    //         transform: translateX(-100px) !important;
    //         transition: 0.6s ease-in-out !important;
    //     }
    //     .contact-icon{
    //         transform: translateX(-100px) !important;
    //         transition: 0.7s ease-in-out !important;
    //     }
    //     .email-icon{
    //         transform: translateX(-100px) !important;
    //         transition: 0.8s ease-in-out !important;
    //     }
    //     .phone-icon{
    //         transform: translateX(-100px) !important;
    //         transition: 0.9s ease-in-out !important;
    //     }
    // }

    .change-nav {
        background-color: #3c85d8 !important;

        .navbar-brand {
            img {
                mix-blend-mode: plus-lighter;
            }
        }

        .nav-link {
            color: #FFFFFF;
        }
    }

    .nav-no-bg {
        background-color: transparent !important;
    }

    .container {
        max-width: 80%;

        @media (max-width: 1299px) {
            max-width: 85%;
        }

        @media (max-width: 991px) {
            max-width: 100%;
        }

        // @media (min-width: 320px) {
        //     max-width: 100%;
        // }

        // @media (min-width: 575px) {
        //     max-width: 75%;
        // }
    }

    button {
        border: none;
        outline: none;

        :focus {
            border: none;
            outline: none;
        }

    }


    a {
        text-decoration: none;
    }

    input {
        border: none;
        outline: none;
    }

    @keyframes scroll-down-animation {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    @keyframes arrow-animation {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    @keyframes show {
        0% {
            transform: translateX(100px);
        }

        100% {
            transform: translateX(0px);
        }
    }
}