<!DOCTYPE html>
<html lang="zh-hant">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="盛雲數位科技有限公司">
    <meta name="author" content="">
    <title>盛雲數位科技有限公司</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./assets/css/index.css?202208021550">
    <link rel="icon" type="image/png" href="./assets/img/SYTlogotitle.svg">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light syt-nav">
        <div class="container-fluid container">
            <a class="navbar-brand" href="#">
                <img src="./assets/img/navbar-icon-blue.svg" alt="" class="nav-icon">
                <img src="./assets/img/navbar-icon-white.svg" alt="" class="nav-icon-change">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                    <!-- <li class="nav-item">
                            <a class="nav-link active" href="#">首頁</a>
                        </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">關於盛雲</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#service-content">產品服務</a>
                    </li>
                    <li class="nav-item item-margin">
                        <a class="nav-link" href="#works">客戶案例</a>
                    </li>
                    <li class="nav-item item-margin-btn">
                        <a class="nav-link nav-btn" href="#contact">聯絡我們</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="#contact">我要許願</a>
                    </li>
                    <!-- <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="./assets/img/line-icon.png" alt="">
                            </a>
                        </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <main class="syt-main" id="vueapp">
        <section class="syt-banner" id="banner">
            <div class="container">
                <div class="syt-text">
                    <div class="syt-title">
                        想要
                        &emsp;&emsp;&emsp;&emsp;&emsp;
                        <br>沒問題！
                    </div>
                    <div class="syt-content">你許願，我來做！<br>要什麼有什麼！</div>
                    <a class="more-btn" href="#contact">
                        <img class="more-img" src="./assets/img/more-icon-black.svg" alt="">
                        <img class="more-img-hover" src="./assets/img/more-icon-white.svg" alt="">
                        了解更多
                    </a>
                    <a class="wish-btn" href="#contact">
                        <img class="more-img" src="./assets/img/wish-icon-black.svg" alt="">
                        <img class="more-img-hover" src="./assets/img/wish-icon-white.svg" alt="">
                        我要許願
                    </a>
                    <div id="fade" class="syt-title" style="text-align:center;"></div>
                </div>

            </div>
            <a class="scroll-down" href="#service-content">
                <img src="./assets/img/mouse.svg" alt="">
                <i class="fa-solid fa-angle-down"></i>
            </a>
        </section>
        <section class="syt-service" id="service-content">
            <div class="service-container container text-center">
                <h2>我們的產品與服務</h2>
                <div class="row">
                    <div class="col-lg-4 col-12">
                        <div id="card-1" class="card card-border hovershadow">
                            <!-- <img class="card-img-border" src="./assets/img/index5.png" alt="Card image cap"> -->
                            <div class="card-body">
                                <h2 class="card-title">客製化系統</h2>
                                <h3 class="card-text">
                                    專業系統規劃，系統化的最佳解決方案
                                </h3>
                                <a href="#">了解更多<i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div id="card-2" class="card card-border hovershadow">
                            <div class="">
                                <!-- <img class="card-img-border" src="./assets/img/index2.png" alt="Card image cap"> -->
                                <div class="card-body">
                                    <h2 class="card-title">打造形象網站</h2>
                                    <h3 class="card-text">
                                        建立RWD響應式的品牌網站
                                    </h3>
                                    <a href="#">了解更多<i class="fa-solid fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div id="card-3" class="card card-border hovershadow">
                            <!-- <img class="card-img-border" src="./assets/img/index4.png" alt="Card image cap"> -->
                            <div class="card-body">
                                <h2 class="card-title">APP設計開發</h2>
                                <h3 class="card-text">
                                    優化介面視覺設計，實現良好的操作體驗
                                </h3>
                                <a href="#">了解更多<i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="syt-adventage" id="adventage">
            <h2>除此之外，我們提供．．．</h2>
            <div class="adventage-container container text-center">
                <!-- <div class="adventage-pic">
                    <img src="./assets/img/adventage.png" alt="">
                </div> -->
                <div class="adventage-items">
                    <div class="adventage-card col-6 col-xl-4">
                        <div class="adventage-img">
                            <img src="./assets/img/progress.svg" alt="">
                        </div>
                        <h2 class="adventage-title">
                            快速解構企業流程
                        </h2>
                        <h3 class="adventage-content">
                            敏捷開發精準洞察企業需求與痛點
                        </h3>
                    </div>
                    <div class="adventage-card col-6 col-xl-4">
                        <div class="adventage-img">
                            <img src="./assets/img/system.svg" alt="">
                        </div>
                        <h2 class="adventage-title">
                            專業系統分析
                        </h2>
                        <h3 class="adventage-content">
                            根據業務發展需求量身打造<br>改善現況提升效率
                        </h3>
                    </div>
                    <div class="adventage-card col-6 col-xl-4">
                        <div class="adventage-img">
                            <img src="./assets/img/skills.svg" alt="">
                        </div>
                        <h2 class="adventage-title">
                            主流技術開發
                        </h2>
                        <h3 class="adventage-content">
                            依照不同專案評估開發環境<br>重視平衡與效能
                        </h3>
                    </div>
                    <div class="adventage-card col-6 col-xl-4">
                        <div class="adventage-img">
                            <img src="./assets/img/consultant.svg" alt="">
                        </div>
                        <h2 class="adventage-title">
                            專屬資訊顧問
                        </h2>
                        <h3 class="adventage-content">
                            就像自家IT協助企業解決資訊問題
                        </h3>
                    </div>
                    <div class="adventage-card col-6 col-xl-4">
                        <div class="adventage-img">
                            <img src="./assets/img/service.svg" alt="">
                        </div>
                        <h2 class="adventage-title">
                            完整售後服務
                        </h2>
                        <h3 class="adventage-content">
                            持續提供服務不讓系統變孤兒
                        </h3>
                    </div>
                    <div class="adventage-card col-6 col-xl-4">
                        <div class="adventage-img">
                            <img src="./assets/img/handshake.svg" alt="">
                        </div>
                        <h2 class="adventage-title">
                            承諾準時交付
                        </h2>
                        <h3 class="adventage-content">
                            符合執行期待於規畫時間內達成
                        </h3>
                    </div>
                </div>
            </div>
            <div class="syt-contact-link" id="contact-link">
                <span>
                    對我們的服務有興趣嗎?
                </span>
                <a href="#contact" class="contact-link-btn">
                    立即聯絡我們<i class="fa-solid fa-angle-right"></i>
                </a>
            </div>
        </section>
        <section class="syt-works" id="works">
            <h2>實際範例</h2>
            <div class="works-container container">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="item in worksItem">
                            <div class="works-pic col-12 col-lg-6">
                                <img src="./assets/img/work-sample.png" alt="">
                            </div>
                            <div class="works-info col-12 col-lg-5">
                                <div class="works-tags">
                                    <div class="tag" v-for="(tag,index) in item.workTags">{{tag}}</div>
                                    <!-- <div class="tag">營造業</div>
                                    <div class="tag">零售業</div>
                                    <div class="tag">製造業</div>
                                    <div class="tag">一般企業</div> -->
                                </div>
                                <h2 class="works-title">
                                    {{item.workTitle}}
                                </h2>
                                <hr>
                                <p class="works-content">
                                    {{item.workContent}}
                                </p>
                                <a href="#" class="works-more-btn">
                                    了解更多
                                    <!-- <i class="fa-solid fa-angle-right"></i> -->
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next">
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="fa-solid fa-caret-left"></i>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

        </section>
        <section class="syt-contact" id="contact">
            <div class="contact-container container">
                <div class="contact-text col-12 col-xl-6">
                    <h2>盛雲數位科技</h2>
                    <hr>
                    <h3 class="text-1">
                        專業顧問<br>
                        一對一為您解答
                    </h3>
                    <h3 class="text-2">
                        專業顧問團隊解答您的疑問
                    </h3>
                </div>
                <div class="contact-form col-12 col-sm-10 col-xl-6">
                    <div class="form-content">
                        歡迎您線上留言給我們<br>
                        收到您的訊息後，我們會盡快請專人回復您的問題，謝謝您
                    </div>
                    <form id="myForm">
                        <div class="company">
                            <label for="company"><span style="letter-spacing: 4px;">公司名稱</span></label>
                            <input type="text" id="company">
                        </div>
                        <div class="name">
                            <label for="name"><span class="required">*</span>姓&ensp;&emsp;&ensp;名</label>
                            <input type="text" id="name">
                        </div>
                        <div class="phone">
                            <label for="phone"><span class="required">*</span>聯絡電話</label>
                            <input type="text" id="phone">
                        </div>
                        <div class="email">
                            <label for="email"><span class="required">*</span><span
                                    style="letter-spacing: 6px;">Email</span></label>
                            <input type="text" id="email">
                        </div>
                        <div class="service">
                            <label for="service"><span class="required">*</span>感興趣的服務</label>
                            <br>
                            <input type="checkbox" name="service-check" value="客製化系統" id="system"><label
                                for="system">客製化系統</label>
                            <input type="checkbox" name="service-check" value="打造形象網站" id="website"><label
                                for="website">打造形象網站</label>
                            <input type="checkbox" name="service-check" value="App設計開發" id="app"><label
                                for="app">App設計開發</label>
                        </div>
                        <div class="other">
                            <label for="other">其他</label>
                            <textarea id="other"></textarea>
                        </div>
                        <div class="send">
                            <input class="submit" type="submit" value="發送訊息" v-on:click="submitBtn()">
                        </div>

                    </form>
                </div>
            </div>
        </section>
        <div class="contact-service">
            <a class="service-btn" v-on:click="serviceBtn()">
                <i class="fa-solid fa-comments"></i>
            </a>
            <div class="service-icon">
                <ul class="service-icon-ul">
                    <li class="service-icon-li">
                        <a href="https://lin.ee/4YoCj8N" target="_blank" class="line-icon">
                            <img src="./assets/img/line.png" alt="" class="line-img">
                            <img src="./assets/img/line-hover.png" alt="" class="line-img-hover">
                            <span class="icon-title">Line</span>
                        </a>

                    </li>
                    <!-- <li class="service-icon-li">
                        <a href="#" class="chat-icon">
                            <i class="fas fa-comment-dots"></i>
                            <span class="icon-title">線上詢問</span>
                        </a>
                    </li> -->
                    <li class="service-icon-li">
                        <a href="#contact" class="contact-icon">
                            <i class="fas fa-list"></i>
                            <span class="icon-title">聯絡我們</span>
                        </a>

                    </li>
                    <!-- <li class="service-icon-li">
                        <a href="mailto:sytservice2022@gmail.com" class="email-icon">
                            <i class="fa-solid fa-envelope"></i>
                            <span class="icon-title">Email</span>
                        </a>

                    </li> -->
                    <li class="service-icon-li">
                        <!-- <a href="#phone-number" class="phone-icon" onclick="phoneBtn()">
                            <i class="fa-solid fa-phone"></i>
                            <span class="icon-title">電話</span>
                        </a> -->
                        <a href="tel:04-24522582" class="phone-icon">
                            <i class="fa-solid fa-phone"></i>
                            <span class="icon-title">電話</span>
                        </a>
                    </li>
                </ul>
                <!-- <div class="phone-number">
                    04-24522582
                </div> -->
            </div>

        </div>
    </main>

    <footer class="syt-footer">
        <div class="container">
            <div class="footer-flex">
                <div class="syt-logo">
                    <img src="./assets/img/SYTlogotitle.svg" alt="" srcset="">
                </div>
                <div class="contact-us">
                    <div class="main-title">聯絡我們</div>
                    <div class="title">電話</div>
                    <div class="content">0937516825</div>
                    <div class="title">信箱</div>
                    <div class="content">sytservice2022@gmail.com</div>
                    <!-- <div class="title">地址</div>
                    <div class="content">台中市西屯區西屯路二段256巷6號5樓之2(A2室)</div> -->
                </div>
                <div class="contact-us-phone">
                    <div class="main-title">聯絡我們</div>
                    <div class="content-us-flex">
                        <span class="title">電話</span>
                        <span class="content">04-24522582</span><br>
                        <span class="title">信箱</span>
                        <span class="content">sytservice2022@gmail.com</span><br>
                        <span class="title">地址</span>
                        <span class="content">台中市西屯區西屯路二段256巷6號5樓之2(A2室)</span>
                    </div>
                    <!-- <span class="title">電話</span>
                    <span class="content">04-24522582</span><br>
                    <span class="title">信箱</span>
                    <span class="content">sytservice2022@gmail.com</span><br>
                    <span class="title">地址</span>
                    <span class="content">台中市西屯區西屯路二段256巷6號5樓之2(A2室)</span> -->
                </div>
                <div class="information">
                    <div class="main-title">相關資訊</div>
                    <div class="content">關於盛雲</div>
                    <a class="content" href="#">隱私權政策</a>
                </div>
                <div class="icon">
                    <img src="./assets/img/line-icon.svg" alt="">
                </div>
            </div>
            <hr>
            <div class="copyright">
                Copyright © 2022 盛雲數位科技有限公司
            </div>
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="./js/particles.js-master/particles.js"></script>
<script src="https://kit.fontawesome.com/9c0a200deb.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="./assets/js/index.js"></script>
<script>
    const vueApp = new Vue({
        data() {
            return {
                worksItem: [
                    {
                        workImg: "./assets/img/work-sample.png",
                        workTags: ["營造業", "零售業", "製造業", "一般企業"],
                        workTitle: "物料管理",
                        workContent: "垂直整合物料系統、請購單、採購單、進貨單，將採購流程系統化，一手輕鬆掌握採購進度。",
                    },
                    {
                        workImg: "./img/work-sample.png",
                        workTags: ["營造業", "零售業", "製造業", "一般企業"],
                        workTitle: "物料管理",
                        workContent: "垂直整合物料系統、請購單、採購單、進貨單，將採購流程系統化，一手輕鬆掌握採購進度。",
                    },
                    {
                        workImg: "./img/work-sample.png",
                        workTags: ["營造業", "零售業", "製造業", "一般企業"],
                        workTitle: "物料管理",
                        workContent: "垂直整合物料系統、請購單、採購單、進貨單，將採購流程系統化，一手輕鬆掌握採購進度。",
                    },
                ],
            };
        },
        methods: {
            serviceBtn() {
                $(".service-icon-ul").toggleClass("active");
            },
            submitBtn() {
                var company = $("#company").val() || '未填寫';
                var name = $("#name").val();
                var phone = $("#phone").val();
                var email = $("#email").val();
                var service = function () {
                    var v;
                    $('[name="service-check"]').each(function () {
                        if ($(this).prop('checked') == true) {
                            v += $(this).val();
                        }

                    });
                    return v;
                };
                var other = $("#other").val();

                var data = {
                    'entry.816415827': company,
                    'entry.684655785': name,
                    'entry.801461580': phone,
                    'entry.1849454000': email,
                    'entry.60767207': service,
                    'entry.624779851': other
                };
                $.ajax({
                    type: 'POST',
                    url: 'https://docs.google.com/forms/u/0/d/e/1FAIpQLSchWjGlHv1LsDj8RU64FfG2W-oPCmr7pLfYBTlcOVie2YI8Zg/formResponse',
                    data: data,
                    contentType: 'application/json',
                    dataType: 'jsonp',
                    complete: function () {
                        alert('資料已送出！');
                    }
                });
            }
        },
        mounted() {
            //swiper
            var swiper = new Swiper(".mySwiper", {
                // cssMode: true,
                centeredSlides: true,
                spaceBetween: 70,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                loop: true,
                clickable: true,
            }); 
            
            function fadetext() {
                fade.style.filter = "alpha(opacity=" + x + ", style=0)";
                x = y < 50 ? x + 4 : x - 4;
                y += 2;
                if (y == 100) {
                    z = z >= texts.length - 1 ? 1 : z + 1;
                    y = 0;
                    fade.innerHTML = texts[z];
                }
                setTimeout("fadetext();", 50);
            }


        },
    }).$mount("#vueapp");
</script>

</html>